* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: min-content;
    min-height: 100vh;
    background-image: url("../images/cute.jpg");
    background-color: pink;
    background-size: cover;
    font-family: arial;
}
.game__container {
    width: 40vw;
    height: min-content;
    margin: 70px auto;
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 991px) {
        width: 98vw;
        height: 98vh;
        margin:auto;
    }

}
.game__title {
    text-transform: uppercase;
}
.button {
    width: 30vw;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    background-color: #25caaa;
    border: 2px solid #f76fca;
    border-radius: 5px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #f85db4;
    }
    @media (max-width: 991px) {
width: 80vw;
    }
}
.start__button {
    @extend .button;
}
.restart__button {
    @extend .button;
    display: none;
}
.display__container {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    height: 200px;
    margin-top: 15px;
    position: relative;
    @media (max-width: 991px) {
        width: 80vw;
        height: 100px;
    }
}
.letter__container {
    width: 15vw;
    height: 200px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: yellow;
    border-radius: 5px;
    @media (max-width: 991px) {
        width: 30vw;
        height: 100px;
    }
}
.licznik {
    width: 7vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
    z-index: 10;
    @media (max-width: 991px) {
        width: 20vw;
    }
}
.grow-green {
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: yellowgreen;
    bottom: 0;
    z-index: -1;
}

.grow-red {
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: red;
    bottom: 0;
    z-index: -1;
}
#timer {
    background-color: #f76fca;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 15px;
    width: 30vw;
    border-radius: 5px;
    @media (max-width: 991px) {
        width: 80vw;
    }
}
.game__end {
    position: absolute;
    font-size: 25px;
    height: 50%;
    width: 50%;
    top: 25%;
    left: auto;
    right: auto;
    padding: 50px;
    text-align: center;
    outline: 5px dashed #fff;
    outline-offset: -30px;
    border-radius: 5px;
    display: none;
    @media (max-width: 991px) {
        width: 80vw;
    }
}
.game__end--button {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}
.game__end--loss {
    @extend .game__end;
    background-color: #cf3b3b;
    z-index: 20;
}
.game__end--win {
    @extend .game__end;
    background-color: #9acd32;
    z-index: 20;
}
#hidden{
    position: fixed;
    left: 120%;
}